.app {
  margin-bottom: 1.5rem;
}
.factsNumUnit {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2.5rem;
}
.fact {
  text-align: center;
  font-weight: bold;
}
#previous, #next {
  padding: 1rem;
  border: solid;
  border-radius: 100px;
  text-align: center;
  width: 7rem;
}
#previous:hover, #next:hover {
  background-color: black;
  color: white;
}
.factsNum {
  border: solid;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  align-self: center;
  border-radius: 100px;
  padding-top: 0.5rem;
}
.showcase {
  display: flex;
  gap: 4rem;
  align-items: center;
  margin-left: 4rem;
}

.span {
  border-style: none none solid none;
  border-color: black;
  width: 0.8rem;
  text-align: center;
}

.flex {
  display: flex;
  gap: 1rem;
}
.flexMiss {
  display: flex;
  gap: 0.5rem;
  height: 2.5rem;
}

#miss {
  font-weight: bold;
  text-align: center;
}

#label {
  font-weight: bold;
}

.hints {
  border: solid pink;
  border-radius: 20px;
  padding: 1rem;
}

#hint {
  font-weight: bold;
  text-align: center;
}

#win, #lose {
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
}
.buttonAnnounce {
  display: block;
  margin: auto;
}
#title {
  text-align: center;
}

.facts {
  margin: 0px 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.factsBoard {
  margin-top: 3rem;
}

#buttonPlayAgain {
  display: block;
  margin: auto;
  border-radius: 3px;
  margin-top: 2rem;
}